<!DOCTYPE html>
<html>
  <head>
    <title>WRITIA</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('ruby.png') %>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">  
  </head>

  

  <body>
    <%= render 'layouts/navigation' %>
    <div  class="page-content" >
        <%= render 'layouts/messages' %>
        <%= yield %>
    </div>
  
    <%= render 'layouts/footer'%>
  </body>
</html>
